<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="https://getbootstrap.com/docs/4.3/examples/dashboard/" rel="canonical">
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="../../static/css/jumbotron.css" rel="stylesheet" th:href="@{/css/jumbotron.css}">
    <link href="../../static/css/main.css" rel="stylesheet" th:href="@{/css/main.css}">
    <title>Fleet</title>
</head>
<body>

<div th:replace="fragments/header :: header">
</div>

<main>
    <div class="container">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Body type</th>
                    <th>Production year</th>
                    <th>Color</th>
                    <th>Daily fee</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="car: ${cars}" th:object="${car}">
                    <td class="pt-3" th:text="*{brand}">Audi</td>
                    <td class="pt-3" th:text="*{model}">Q7</td>
                    <td class="pt-3" th:text="*{bodyType}">SUV</td>
                    <td class="pt-3" th:text="*{productionYear}">2018</td>
                    <td class="pt-3" th:text="*{color}">white</td>
                    <td class="pt-3" th:text="*{dailyFee}">109.99</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</main>

<script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="dashboard.js"></script>
</body>
</html>