<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="sidebar">
    <div sec:authorize="isAuthenticated()">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">

                <ul class="nav flex-column mt-3">


                    <li class="active nav-item">
                        <a aria-expanded="false" class="dropdown-toggle nav-link" data-toggle="collapse"
                           href="#homeSubmenu">Cars</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a class="nav-link pl-5" href="#" style="background-color: #e6e9ec" th:href="@{/cars}">Show
                                    cars</a>
                            </li>
                            <li>
                                <a class="nav-link pl-5" href="#" style="background-color: #e6e9ec"
                                   th:href="@{/cars/addCar}">New car</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a aria-expanded="false" class="dropdown-toggle nav-link" data-toggle="collapse"
                           href="#pageSubmenu">Departments</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li>
                                <a class="nav-link pl-5" href="#" style="background-color: #e6e9ec"
                                   th:href="@{/departments}">Show departments</a>
                            </li>
                            <li>
                                <a class="nav-link pl-5" href="#" style="background-color: #e6e9ec"
                                   th:href="@{/departments/addDepartment}">New department</a>
                            </li>
                        </ul>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/}">Home Page</a>
                    </li>
                    <li class="nav-item">
                        <form method="post" th:action="@{/userPanel/accountSettings}">
                            <button class="accordion btn btn-link nav-link" type="submit">Account Settings</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form action="#" method="post" th:action="@{/userPanel/bookings}">
                            <button class="accordion btn btn-link nav-link" type="submit">Bookings</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Send email [Not available]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/logout}">Sign out</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

