<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="sidebar">
    <div sec:authorize="isAuthenticated()">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column mt-3">
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/}">Home Page</a>
                    </li>
                    <li class="nav-item">
                        <form method="post" th:action="@{/userPanel/accountSettings}">
                            <button class="btn btn-link nav-link" type="submit">Account Settings</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form method="post" th:action="@{/userPanel/bookings}">
                            <button class="btn btn-link nav-link" type="submit">Bookings</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Send email [Not available]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/logout}">Sign out</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>