.home-jumbo {
    background: url('../img/car-main.jpg') center;
    background-size: cover;
    /*background-repeat: no-repeat;*/
}

.btn-outline-custom {
    border-radius: 5px;
    border-color: #49c5b6;
}

.error-message {
    color: #a94442;
}