<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <title> ADD CAR</title>
        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet">
    </head>
    <body>
        <form action="/cars" method="POST">
            <label for="brand"> Brand</label>
            <input class="form-control" id="brand" name="brand" type="text"><br>

            <label for="model"> Model</label>
            <input class="form-control" id="model" name="model" type="text"><br>

            <label for="bodyType"> Body Type</label>
            <input class="form-control" id="bodyType" name="bodyType" type="text"><br>

            <label for="productionYear"> Production Year</label>
            <input class="form-control" id="productionYear" name="productionYear" type="text"><br>

            <label for="color"> Color</label>
            <input class="form-control" id="color" name="color" type="text"><br>

            <label for="mileage"> Mileage</label>
            <input class="form-control" id="mileage" name="mileage" placeholder="Only numbers" type="number"><br>

            <label for="status"> Status</label>
            <select class="form-control" id="status" name="status">
                <option th:each="statusOpt : ${T(com.sda.carrentapp.entity.Status).values()}"
                        th:selected="${statusOpt == T(com.sda.carrentapp.entity.Status).AVAILABLE}"
                        th:text="${statusOpt}"
                        th:value="${statusOpt}">
                </option>
            </select>
            <br>

            <label for="dailyFee"> Daily Fee</label>
            <input class="form-control" id="dailyFee" name="dailyFee" placeholder="Only numbers" type="number"><br>

            <button class="btn btn-primary" type="submit">Save</button>
        </form>

        <script crossorigin="anonymous"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script crossorigin="anonymous"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script crossorigin="anonymous"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </body>
</html>