<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="https://getbootstrap.com/docs/4.3/examples/dashboard/" rel="canonical">
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="../static/css/jumbotron.css" rel="stylesheet" th:href="@{/css/jumbotron.css}">
    <link href="../static/css/main.css" rel="stylesheet" th:href="@{/css/main.css}">
    <link href="../static/css/dashboard.css" rel="stylesheet" th:href="@{/css/dashboard.css}">
    <title>Cars</title>
</head>
<body>

<div th:replace="fragments/header :: header">
</div>


<main>
    <div class="container-fluid">
        <div class="row">
            <div th:replace="fragments/sidebar :: sidebar">
            </div>

            <main class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="container-fluid">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th sec:authorize="hasRole('ROLE_ADMIN')">Id</th>
                                <th>Reservation date</th>
                                <th>Start date</th>
                                <th>End date</th>
                                <th>Fee</th>
                                <th>Entity status</th>
                                <th>Rent dep.</th>
                                <th>Return dep.</th>
                                <th sec:authorize="hasRole('ROLE_ADMIN')">User</th>
                                <th>Car</th>
                                <th sec:authorize="hasRole('ROLE_ADMIN')">Rent start time</th>
                                <th sec:authorize="hasRole('ROLE_ADMIN')">Rent end time</th>
                                <th class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="booking: ${booked}" th:object="${booking}">
                                <td class="pt-3"
                                    sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER', 'ROLE_EMPLOYEE')"
                                    th:text="*{id}">1
                                </td>
                                <td class="pt-3" th:text="*{reservationDate}">2019.09.12</td>
                                <td class="pt-3" th:text="*{startDate}">2019.09.17</td>
                                <td class="pt-3" th:text="*{endDate}">2019.09.23</td>
                                <td class="pt-3" th:text="*{fee}">500</td>
                                <td class="pt-3" th:text="*{entityStatus}">ok</td>
                                <td class="pt-3" th:text="*{rentDepartment.address}">Sopot</td>
                                <td class="pt-3" th:text="*{returnDepartment.address}">Sopot</td>
                                <td class="pt-3"
                                    sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER', 'ROLE_EMPLOYEE')"
                                    th:text="*{user.lastName}">Janek
                                </td>
                                <td class="pt-3" th:text="*{car.brand}">BMW</td>
                                <td class="pt-3"
                                    sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER', 'ROLE_EMPLOYEE')"
                                    th:text="*{#temporals.format(rentStart, 'yyyy-MM-dd HH:mm')}"></td>
                                <td class="pt-3"
                                    sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER', 'ROLE_EMPLOYEE')"
                                    th:text="*{#temporals.format(rentEnd, 'yyyy-MM-dd HH:mm')}"></td>
                                <td>
                                    <div class="d-flex justify-content-center">
                                        <div class="row" sec:authorize="hasRole('ROLE_USER')">
                                            <form class="pl-1" method="get"
                                                  th:action="@{|/booking/update/${booking.id}|}">
                                                <button class="btn btn-outline-warning btn-sm" type="submit">Edit
                                                </button>
                                            </form>
                                            <form class="pl-1" method="post"
                                                  th:action="@{|/userPanel/booking/delete/${booking.id}|}">
                                                <button class="btn btn-outline-danger btn-sm"
                                                        onclick="if (!(confirm('Are you sure you want to delete this item?'))) return false"
                                                        type="submit">Delete
                                                </button>
                                            </form>
                                        </div>
                                        <div class="row"
                                             sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER', 'ROLE_EMPLOYEE')">
                                            <form class="pl-1" method="post"
                                                  th:action="@{|/booking/delete/${booking.id}|}">
                                                <button class="btn btn-outline-danger btn-sm"
                                                        onclick="if (!(confirm('Are you sure you want to delete this item?'))) return false"
                                                        type="submit">Delete
                                                </button>
                                            </form>
                                            <form class="pl-1" method="post"
                                                  th:action="@{|/booking/activate/${booking.id}|}">
                                                <button class="btn btn-outline-success btn-sm" type="submit">Accept
                                                </button>
                                            </form>
                                            <form class="pl-1" method="post"
                                                  th:action="@{|/booking/return/${booking.id}|}">
                                                <button class="btn btn-outline-dark btn-sm" type="submit">Return
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>
        </div>
    </div>
</main>

<script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="dashboard.js"></script>
</body>
</html>